node_modules/
.next/
out/
coverage/
.env
.env.*
!.env.example
!.env.development.example
!.env.production.example
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.pem
*.log
*.swp
*.swo
prisma/*.db
backups/
